---
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import Favicon from "/public/images/favicon.svg";
import FacebookIcon from "/public/images/icons/facebook.svg";
import InstagramIcon from "/public/images/icons/instagram.svg";

const { footer1, footer2, footer3, offices } = menu;
const { copyright, location, email, phone, footer_description } = config.params;
---
<footer class="bg-[#0c0e13] pt-15 px-4 sm:px-6 md:px-8 lg:px-20 lg:py-16">
    <div class="max-w-7xl mx-auto">
        <div class="flex flex-col lg:flex-row gap-16 pb-12">
            <div class="flex-1 max-w-full lg:max-w-[400px]">
                <div class="mb-6 flex flex-row gap-4">
                    <Favicon height="35" width="35" />
                    <p class="text-[#78D3EB] text-xl font-bold">VIGIA TELCOM</p>
                </div>
                <p class="text-sm leading-7 text-zinc-500 mb-7 max-w-80">
                  Trabajamos todos los días para ofrecer un internet más rápido, estable y confiable, con el firme compromiso de seguir creciendo junto a nuestra gente.
                </p>
                <div class="flex gap-4">
                    <a href="#" class="size-9 rounded-full flex items-center justify-center hover:bg-zinc-50 transition-colors">
                        <FacebookIcon />
                    </a>
                    <a href="#" class="size-9 rounded-full flex items-center justify-center hover:bg-zinc-50 transition-colors">
                        <InstagramIcon />
                    </a>
                </div>
            </div>
            <div class="flex flex-wrap sm:flex-nowrap flex-1 justify-between gap-8 w-full max-w-3xl">
                <div>
                    <h3 class="text-base font-medium text-[#78D3EB] mb-6">Quienes Somos</h3>
                    <ul class="flex flex-col gap-3 list-none">
                      {
                        footer1.map((item, i) => (
                          <li class={footer1.length - 1 === i ? "mb-0" : "mb-0"}>
                            <a class="text-sm text-[#64748B] hover:text-zinc-700 transition-colors" href={item.url}>
                              {item.name}
                            </a>
                          </li>
                        ))
                      }
                    </ul>
                </div>
                <div>
                    <h3 class="text-base font-medium text-[#78D3EB] mb-6">Atención al cliente</h3>
                    <ul class="flex flex-col gap-3 list-none">
                      {
                        footer3.map((item, i) => (
                          <li class={footer1.length - 1 === i ? "mb-0" : "mb-0"}>
                            <a class="text-sm text-[#64748B] hover:text-zinc-700 transition-colors" href={item.url}>
                              {item.name}
                            </a>
                          </li>
                        ))
                      }
                    </ul>
                </div>
                <div>
                    <h3 class="text-base font-medium text-[#78D3EB] mb-6">Legales   </h3>
                    <ul class="flex flex-col gap-3 list-none">
                      {
                        footer2.map((item, i) => (
                          <li class={footer1.length - 1 === i ? "mb-0" : "mb-0"}>
                            <a class="text-sm text-[#64748B] hover:text-zinc-700 transition-colors" href={item.url} target={item.url.includes('.pdf') ? '_blank' : '_self'} rel={item.url.includes('.pdf') ? 'noopener noreferrer' : ''}>
                              {item.name}
                            </a>
                          </li>
                        ))
                      }
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="flex flex-col md:flex-row gap-6 md:gap-16 py-9 max-w-6xl">
            <div class="flex items-start gap-2.5 flex-1">
                <div class="size-8 rounded-lg bg-zinc-100 border border-zinc-200 flex items-center justify-center">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.667 8.335c0 4.16-4.616 8.494-6.166 9.832a.83.83 0 0 1-1.002 0c-1.55-1.338-6.166-5.672-6.166-9.832a6.667 6.667 0 0 1 13.334 0" stroke="#45556c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M7.5 8.335 9.167 10 12.5 6.668" stroke="#45556c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div>
                    <h4 class="text-base font-medium text-zinc-800 mb-0.5">Address</h4>
                    <p class="text-sm text-zinc-500 leading-relaxed">548 Market Street, Suite 410<br />San Francisco, United States</p>
                </div>
            </div>
            <div class="flex items-start gap-2.5 flex-1">
                <div class="size-8 rounded-lg bg-zinc-100 border border-zinc-200 flex items-center justify-center">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#a)">
                            <path d="M10.95 13.115a.79.79 0 0 0 .96-.24l.282-.368a1.58 1.58 0 0 1 1.266-.633h2.375a1.583 1.583 0 0 1 1.584 1.583v2.375a1.583 1.583 0 0 1-1.584 1.583 14.25 14.25 0 0 1-14.25-14.25 1.583 1.583 0 0 1 1.584-1.583h2.375a1.583 1.583 0 0 1 1.583 1.583V5.54a1.58 1.58 0 0 1-.633 1.267l-.37.278a.79.79 0 0 0-.232.976 11.1 11.1 0 0 0 5.06 5.054" stroke="#45556c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" ></path>
                        </g>
                        <defs>
                            <clipPath id="a">
                                <path fill="#fff" d="M0 0h19v19H0z"></path>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div>
                    <h4 class="text-base font-medium text-zinc-800 mb-0.5">Phone</h4>
                    <p class="text-sm text-zinc-500 leading-relaxed">+1 (55) 123-4567</p>
                </div>
            </div>
            <div class="flex items-start gap-2.5 flex-1">
                <div class="size-8 rounded-lg bg-zinc-100 border border-zinc-200 flex items-center justify-center">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="m18.333 5.832-7.492 4.773a1.67 1.67 0 0 1-1.674 0l-7.5-4.773" stroke="#45556c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M16.667 3.332H3.333c-.92 0-1.666.746-1.666 1.667v10c0 .92.746 1.666 1.666 1.666h13.334c.92 0 1.666-.746 1.666-1.666v-10c0-.92-.746-1.667-1.666-1.667" stroke="#45556c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div>
                    <h4 class="text-base font-medium text-zinc-800 mb-0.5">Email</h4>
                    <p class="text-sm text-zinc-500 leading-relaxed">contact@prebuiltui.com</p>
                </div>
            </div>
        </div> -->
        <div class="flex flex-col md:flex-row justify-between items-center gap-4 py-4 border-t border-[#78D3EB]">
            <p class="text-sm text-zinc-500">© 2026 Vigia Telcom. Todos los derechos reservados.</p>
            <div class="flex flex-wrap justify-center gap-5 md:gap-9">
                <a href="#" class="text-sm text-[#64748B] hover:text-zinc-700 transition-colors">Política de Privacidad</a>
                <a href="#" class="text-sm text-[#64748B] hover:text-zinc-700 transition-colors">Aviso de Privacidad</a>
                <a href="#" class="text-sm text-[#64748B] hover:text-zinc-700 transition-colors">Acerca de</a>
            </div>
        </div>
    </div>
</footer>